.sidemenu-wrapper,.sidemenu-container{
	height: 100% !important;
}
.sidemenu-body{
	height: 85% !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
}
.sidemenu-body > ul li:hover p{
	color: #4791cf !important;
	cursor: pointer;
	transition: 0.5ms ease-in-out;
}
.active-sidemenuItem-bg{
	background-color: #edf4fa;
	border-radius: 5px;
	transition: 0.2s ease-in-out;
}
.icon-hover:hover{
	cursor: pointer;
}

@media (max-width: 991.98px) { 
	.sidemenu-body{
		height: auto !important;
		
	}
 }